@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// colors
$primary: #fd7e14;
$primary-light: #fd9843;
$secondary: #b85502;
$white: #ffffff;
$black: #000000;
$dark: #1c1f23;
$muted: #6c757d;

:root {
  --primary: #{$primary};
  --primary-light: #{$primary-light};
  --secondary: #{$secondary};

  --muted: #{$muted};
  --white: #{$white};
  --black: #{$black};
  --dark: #{$dark};

  --sans-serif: 'Inter', sans-serif;
  --serif: 'Noe Display', serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--sans-serif);
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
