@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
}

$primary: #fd7e14;
$secondary: #b85502;
$dark: #1c1f23;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
